<h1>Welcome to Title CasE</h1>
<form action="/title">
  <div class="form-group">
    <label for="title">EntEr WhaT Want To BE iN TiTle CaSE?</label>
    <input id="title" name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
